<form id="registration-form" action="/register" method="post">

<!-- <div class="loginDiv">
  <label for="">Login:</label>
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button type="button" name="register-button">register user</button>
</div> -->


<div class="signUpDiv">
  <label for="">Sign Up:</label>
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button type="submit" name="register-button">register user</button>
</div>

</form>
